<!doctype html>
<html lang="en" ng-app="settingsApp">
<head>
	<meta charset="utf-8">
	<title>Tab Rotate Options</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="settings.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angularjs/angular.min.js"></script>
	<script src="settings.js"></script>
</head>
<body>

	<div id="main-container" class="container">

		<h1>Tab Rotate Options</h1>


		<form name="myForm" ng-controller="SettingsCtrl">

			<div id="resets-container">
				<button ng-click="resetDefaults()">Reset Defaults</button>
				<button ng-click="clearStorage()">Clear Storage</button>
			</div>

			<h3>Load Config from:</h3>
			<div class="form-group" id="input-source-container">
				<label>
					<input type="radio" ng-model="settings.source" value="DIRECT">
					Text Box
				</label><br/>

				<label>
					<input type="radio" ng-model="settings.source" value="URL">
					Url
				</label>
			</div>

			
			

			<div class="form-group" ng-show="settings.source == 'DIRECT'" ng-class="validateConfigFile() ? 'has-success' : 'has-error'">
				<textarea id="settingsTextArea" ng-model="settings.configFile"></textarea>
				<div id="json-validation-message" class="help-block">JSON: {{validateConfigFile() ? "Valid" : "Invalid"}}</div>
			</div>


			<div id="url-container" class="form-group" ng-show="settings.source == 'URL'" ng-class="urlValid ? 'has-success' : 'has-error'">
				<input type="text" class="form-control" ng-model="settings.url" id="settingsUrl"></input>
				<button id="fetchSettings" ng-click="fetchSettings()">Test Url</button>
				<span class="help-block">{{httpStatusText}}</span>
			</div>

			<div id="json-response-container" class="form-group" ng-show="settings.source == 'URL'" ng-class="validateConfigFile() ? 'has-success' : 'has-error'">
				<pre>{{settings.configFile}}</pre>
				<div id="json-validation-message" class="help-block">JSON: {{validateConfigFile() ? "Valid" : "Invalid"}}</div>
			</div>

			

			<div class="row" ng-class="formStatus == 'SAVED' ? 'has-success' : 'has-error'">
				
				<div class="col-md-4">
					<div class="form-group">
						<button ng-click="reloadSettingsFromDisc()">Cancel</button>
						<button ng-click="save()">Save</button>
						<span class="help-block">{{formMessage()}}</span>
					</div>
				</div>
			</div>

		 </form>

	 </div>

</body>
</html>